.DS_Store
node_modules
/dist
.coverage
htmlcov/

# local vue env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*security-sgps.py
*security_backend.py

*.pyc
.cache
.mypy_cache\
.pytest_cache/
app.db
db.sqlite

migrations/
yarn.*
*.lock